adium-theme-ubuntu==0.3.4
appdirs==1.4.0
autopep8==1.2.4
awscli==1.10.53
awsebcli==3.7.8
beautifulsoup4==4.4.1
blessed==1.9.5
boto3==1.4.0
botocore==1.4.43
buildozer==0.33.dev0
cement==2.8.2
chardet==2.3.0
CherryPy==6.2.0
colorama==0.3.7
configparser==3.5.0
cycler==0.10.0
Cython==0.20
decorator==4.0.9
Django==1.9.4
django-el-pagination==2.1.2
django-endless-pagination==2.0
dnspython==1.12.0
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
ecdsa==0.13
enum34==1.1.6
fpdf==1.7.2
futures==3.0.5
gyp==0.1
html5lib==0.999
ipython==4.1.2
ipython-genutils==0.1.0
Jinja2==2.8
jmespath==0.9.0
Kivy==1.9.1
loremipsum==1.0.5
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.5.2
mysql-connector-python==2.0.4
MySQL-python==1.2.5
mysql-utilities==1.6.1
numpy==1.11.1
oauthlib==1.1.2
paramiko==1.16.0
path.py==8.1.2
pathspec==0.3.4
pdfkit==0.5.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.6
Pillow==3.3.0
plotly==1.12.4
Pmw==2.0.0
preppy==2.3.5
ptyprocess==0.5.1
pyasn1==0.1.9
pycodestyle==2.0.0
pycrypto==2.6.1
pydocstyle==1.0.0
pyflakes==1.2.3
pygame==1.9.2b8
Pygments==2.1
pygobject==3.20.0
PyJWT==1.4.0
pyodbc==3.0.7
pyparsing==2.1.5
pyRXP==2.1.1
pysqlite==2.7.0
python-dateutil==2.5.3
python-for-android==0.4
python-openid==2.2.5
python-social-auth==0.2.19
pytz==2016.6.1
PyYAML==3.12
reportlab==3.3.15
requests==2.9.1
requests-oauthlib==0.6.1
rlextra==3.3.15
roman==2.0.0
rsa==3.4.2
s3transfer==0.1.1
schedule==0.3.2
semantic-version==2.5.0
sh==1.11
simplegeneric==0.8.1
six==1.10.0
texttable==0.8.4
traitlets==4.2.1
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.0.3
wcwidth==0.1.7
websocket-client==0.37.0
xlrd==0.9.4
youtube-dl==2016.8.7
