
.demo-card-square.mdl-card {
  width: 220px;
  height: 220px;
  -webkit-flex:1;
	-moz-flex:1;
	flex:1;
}
.demo-card-square-google > .mdl-card__title {
  color: #fff;
  background:
    url('../../img/logo/google-logo.jpg') center no-repeat;
}

.googleCard {
    margin: 10px !important;
}

.demo-card-square.mdl-card {
  width: 220px;
  height: 220px;
}
.demo-card-square-amazon > .mdl-card__title {
  color: #fff;
  background:
    url('../../img/logo/amazon-logo.jpg') center no-repeat;
}

.amazonCard {
    margin: 10px !important;
}

.demo-card-square.mdl-card {
  width: 220px;
  height: 220px;
}
.demo-card-square-flipkart > .mdl-card__title {
  color: #fff;
  background:
    url('../../img/logo/flipkart-logo.jpg') center no-repeat;
    
}

.flipkartCard {
    margin: 10px !important;
}

.demo-card-square.mdl-card {
  width: 220px;
  height: 220px;
}
.demo-card-square-nike > .mdl-card__title {
  color: #fff;
  background:
    url('../../img/logo/nike-logo.jpg') center no-repeat;
}

.nikeCard {
    margin: 10px !important;
    }

.direction {
  display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:wrap;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
    /*float:left;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
             flex-direction:row;
             -moz-box-orient:horizontal;*/
}

.demo-card-square.mdl-card {
  width: 220px;
  height: 220px;
}
.demo-card-square-boosted > .mdl-card__title {
  color: #fff;
  background:
    url('../../img/logo/boosted boards-logo.png') center no-repeat;
}
.boostedCard {
    margin: 10px !important;
}
