{% load staticfiles %}

<html>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">
                <span class="android-title mdl-layout-title">
      <img class           ="android-logo-image" src="images/android-logo.png">
    </span>
                <!-- Add spacer, to align navigation to the right in desktop -->
                <div class="android-header-spacer mdl-layout-spacer"></div>
                <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search-field">
                    </div>
                </div>
                <!-- Navigation -->
                <div class="android-navigation-container">
                    <nav class="android-navigation mdl-navigation">
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'home' %}">Home</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'about' %}">About</a>
                    </nav>
                </div>
                <span class="android-mobile-title mdl-layout-title">
      <img class           ="android-logo-image" src="images/android-logo.png">
    </span>
                <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                    <a href="{% url 'changeLog' %}">
                        <li class="mdl-menu__item">Change Log</li>
                    </a>
                    <a href="{% url 'faqs' %}">
                        <li class="mdl-menu__item">FAQs</li>
                    </a>
                    <a href="{% url 'blog' %}">
                        <li class="mdl-menu__item">Blog</li>
                    </a>
                    <a href="{% url 'contact' %}">
                        <li class="mdl-menu__item">Contact Us</li>
                    </a>
                    <a href="{% url 'privacy-terms' %}">
                        <li class="mdl-menu__item">Privacy and Terms</li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="android-drawer mdl-layout__drawer">
            <span class="mdl-layout-title">
    <img class             ="android-logo-image" src="images/android-logo-white.png">
  </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'home' %}">Home</a>
                <a class="mdl-navigation__link" href="{% url 'about' %}">About</a>
                <div class="android-drawer-separator"></div>
                <a class="mdl-navigation__link" href="{% url 'blog' %}">Official blog</a>
                <a class="mdl-navigation__link" href="">Android on Google+</a>
                <a class="mdl-navigation__link" href="">Android on Twitter</a>
                <div class="mdl-navigation__link">
                    <i class="zmdi zmdi-facebook zmdi-hc-2x"></i> &nbsp; &nbsp;
                    <i class="zmdi zmdi-instagram zmdi-hc-2x"></i> &nbsp &nbsp
                    <i class="zmdi zmdi-twitter zmdi-hc-2x"></i>
                </div>
            </nav>
        </div>
        <div class="android-content mdl-layout__content">
            <a name="top"></a>

</body>
</html>
